@media all and (max-width:576px){
    .ms-hide-text{
        display: none;
    }
    
}
@media all and (max-width:767px){
    .banner-listing{
        display: none;
    }
    
}
@media all and (min-width: 992px ){
    .navbar-text ul li label{
        display: none;

    }
}
@media all and (max-width: 992px ){
    .ms-lens{
        display: none;

    }
}
@media all and (max-width: 992px ){
    .navbar-expand-lg .navbar-nav .ms-drop-menu.show{
        position: static;
    }
}